@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide default scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .no-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
  }

  .no-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  /* For Firefox */
  .no-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  }
}
